@import "../variables/variables.scss";

.coeur{
    position: relative;
    top: 5px;
    font-size: 175%;
    height: min-content;
    left: -2rem;
    color: $coeurColor;

    &:hover{
        animation-name: coeur1;
        animation-duration: .2s;
        animation-delay: .2s;
        animation-fill-mode: forwards;    
      }
    
    .far{
        position: absolute;
    }

    .far:hover{
        animation-name: coeur1;
        animation-duration: .2s;
        animation-delay: .2s;
        animation-fill-mode: forwards;    
      }
     
    .coeurRempli{
        position: absolute;
        opacity: 0;
        transition: 1s ease;
        left: 0;
      
        &:hover{
            opacity: 1;
            transform: scale(1);
        } 
    }   
  }

  .coeurRempli{
    color: $coeurColor75;
  }

  @keyframes coeur1{
      0%{
          color: $coeurColor;
      }

      25%{
          color: $coeurColor25;
      }

      50%{
          color: $coeurColor25;
      }

      75%{
          color: $coeurColor75;
      }

      100%{
          color: $coeurColor75;
      }
  }