@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');
@import "../../style/style2/sass/variables/variables.scss";
@import "../../style/style2/sass/bouton/button.scss";
@import "../../style/style2/sass/coeur/coeur.scss";
@import "../../style/style2/sass/animationPrixEncoche/animationPrixEncoche.scss";
@import"../../style/style2/sass/apparitionMenu/apparition.scss";

.titreBloc{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
h1, h2{
    font-family: "Shrikhand", serif;
    text-decoration: none;
}

h3{
    font-family: "Roboto", serif;
}

h4{
    font-size: large;
}

p, h4{
      font-family: 'Roboto', serif;
}

p{
    padding-top: 10px;
    font-size: 95%;
}

h2, h1{
    margin-top: 0;
}

body{
    margin: 0;
}
header{
    display: flex;
    position: sticky;
    align-items: center;
    top: 0;
    left: 0;
    box-shadow: 0 0 0.25rem 0.125rem $box-shadow-header;
    margin: 0;
    background-color: $wbg;
    z-index: 98;
    
    .logoHeader{
    font-size: 500;
    font-family: Shrikhand, sans-serif;
    margin: auto;
    }
    
    .fa-arrow-left{
        color: black;
        padding-left: 1rem;
    }
}

main #imgDeFond{
    height: 18rem;
    
    img{
    width: 100%;
    height: 18rem;
    object-fit: cover;
}
}



.borderBottomTitre{
    margin-bottom: 1rem;
}


.titreEntrees, .titreDessert{
    padding-bottom: 1rem;
    text-transform: uppercase;
}

.titreEntrees::after, .titreDessert::after{
    content: "";
    display: block;
    width: 10%;
    border-bottom: 2px $color-tertiaire solid;
}

.titreCarte, .sousTitre{
    margin: 0;
    text-overflow: ellipsis; 
    overflow: hidden;
} 


footer{
    background-color: $background-footer;
    color: $wbg;
   
    #contenue_footer{
        padding-left: 2rem;
    }

    .fawesomeFooter{
        padding-right: 1rem;
    }
    
    a{
        color: $wbg;
        text-decoration: none;
    }

    ul{
        padding-left: 0;
    }

    li{
        padding-bottom: 1rem;
        list-style: none;
    }
}

/* Responsive design */

@media screen and (max-width:2000px) and (min-width:905px){
.blocMenu{
    #entrees, .plats, .desserts{
        width: 30%;
    }
    .titreBloc{
        width: 100%;
    }

    .btnCommander{
        width: 100%;
    }

}

footer{
    ul{
        display: flex;
        justify-content: space-around;
    }
}
}

@media screen and (max-width:905px) and (min-width:600px){
    .blocMenu{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .titreBloc{
            width: 100%;
        }

        #entrees, .plats, .desserts{
            width: 46%;
        }

        .btnCommander{
            width: 100%;
        }
    }

    footer{
        ul{
            display: flex;
            justify-content: space-around;
        }
    }

}



/* Keyframes */


@keyframes loading{
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}