@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap");
.btnCommander {
  text-align: center;
  width: 100%;
}

button {
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(360deg, #9356DC, #FF79DA);
  color: #fff;
  margin-top: 1rem;
  border-radius: 2rem;
  border: none;
  margin-top: 1rem;
  font-size: inherit;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  margin-bottom: 2rem;
  -webkit-box-shadow: 0px 0px 1px 1px #937e7e;
          box-shadow: 0px 0px 1px 1px #937e7e;
  font-family: 'Roboto', serif;
}

button:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  opacity: 0.50;
  -webkit-box-shadow: 0px 0px 1px 2px #2e2929;
          box-shadow: 0px 0px 1px 2px #2e2929;
}

.coeur {
  position: relative;
  top: 5px;
  font-size: 175%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: -2rem;
  color: #000;
}

.coeur:hover {
  -webkit-animation-name: coeur1;
          animation-name: coeur1;
  -webkit-animation-duration: .2s;
          animation-duration: .2s;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.coeur .far {
  position: absolute;
}

.coeur .far:hover {
  -webkit-animation-name: coeur1;
          animation-name: coeur1;
  -webkit-animation-duration: .2s;
          animation-duration: .2s;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.coeur .coeurRempli {
  position: absolute;
  opacity: 0;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  left: 0;
}

.coeur .coeurRempli:hover {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.coeurRempli {
  color: #d160f3;
}

@-webkit-keyframes coeur1 {
  0% {
    color: #000;
  }
  25% {
    color: #e4d5f6;
  }
  50% {
    color: #e4d5f6;
  }
  75% {
    color: #d160f3;
  }
  100% {
    color: #d160f3;
  }
}

@keyframes coeur1 {
  0% {
    color: #000;
  }
  25% {
    color: #e4d5f6;
  }
  50% {
    color: #e4d5f6;
  }
  75% {
    color: #d160f3;
  }
  100% {
    color: #d160f3;
  }
}

.blocMenu {
  background-color: #f6f6f6;
  border-radius: 2rem 2rem 0 0;
  position: relative;
  padding: 2rem 1rem 1rem 1rem;
  margin-top: -3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blocMenu .animationsEtPrix .prix {
  margin-right: 1rem;
  position: relative;
  top: 13px;
  font-weight: bold;
}

.blocMenu .animationsEtPrix .animation {
  -webkit-animation: slideOut;
          animation: slideOut;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.blocMenu .titreEntre {
  padding-top: 1rem;
}

.blocMenu .carte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1rem;
  background-color: #fff;
  margin-bottom: 1rem;
  overflow: hidden;
  position: relative;
  width: 99%;
  -webkit-box-shadow: 0.1rem 0.1rem 0.5rem 0 #aaaaaa;
          box-shadow: 0.1rem 0.1rem 0.5rem 0 #aaaaaa;
}

.blocMenu .carte:hover .animationsEtPrix .animation {
  -webkit-animation: slidein;
          animation: slidein;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.blocMenu .carte:hover .fa-check-circle {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 900ms  ease-in-out;
  transition: 900ms  ease-in-out;
}

.blocMenu .carte:hover .contenueCarte {
  -webkit-transition: 600ms ease-in-out;
  transition: 600ms ease-in-out;
}

.contenueCarte {
  padding: 1rem 0 1rem 0.2rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.animationsEtPrix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.animationsEtPrix .animation {
  background-color: #99E2D0;
  position: relative;
  height: 5.5rem;
  width: 0;
}

.animationsEtPrix .fa-check-circle {
  position: absolute;
  top: 40%;
  left: 40%;
  color: #fff;
}

@-webkit-keyframes slidein {
  0% {
    width: 0;
  }
  to {
    width: 70px;
  }
}

@keyframes slidein {
  0% {
    width: 0;
  }
  to {
    width: 70px;
  }
}

@-webkit-keyframes slideOut {
  from {
    width: 70px;
  }
  to {
    width: 0;
  }
}

@keyframes slideOut {
  from {
    width: 70px;
  }
  to {
    width: 0;
  }
}

#entrees {
  -webkit-animation: apparition 1000ms 200ms both ease-in-out;
          animation: apparition 1000ms 200ms both ease-in-out;
}

.plats {
  -webkit-animation: apparition 1000ms 600ms both ease-in-out;
          animation: apparition 1000ms 600ms both ease-in-out;
}

.desserts {
  -webkit-animation: apparition 1000ms 1000ms both ease-in-out;
          animation: apparition 1000ms 1000ms both ease-in-out;
}

#entrees, .plats, .desserts {
  width: 99%;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  margin-bottom: 1rem;
}

@-webkit-keyframes apparition {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes apparition {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.titreBloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

h1, h2 {
  font-family: "Shrikhand", serif;
  text-decoration: none;
}

h3 {
  font-family: "Roboto", serif;
}

h4 {
  font-size: large;
}

p, h4 {
  font-family: 'Roboto', serif;
}

p {
  padding-top: 10px;
  font-size: 95%;
}

h2, h1 {
  margin-top: 0;
}

body {
  margin: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 0 0.25rem 0.125rem #777;
          box-shadow: 0 0 0.25rem 0.125rem #777;
  margin: 0;
  background-color: #fff;
  z-index: 98;
}

header .logoHeader {
  font-family: Shrikhand, sans-serif;
  margin: auto;
}

header .fa-arrow-left {
  color: black;
  padding-left: 1rem;
}

button {
  padding: 1rem 3rem 1rem 3rem;
}

main #imgDeFond {
  height: 18rem;
}

main #imgDeFond img {
  width: 100%;
  height: 18rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.borderBottomTitre {
  margin-bottom: 1rem;
}

.titreEntrees, .titreDessert {
  padding-bottom: 1rem;
  text-transform: uppercase;
}

.titreEntrees::after, .titreDessert::after {
  content: "";
  display: block;
  width: 10%;
  border-bottom: 2px #99E2D0 solid;
}

.titreCarte, .sousTitre {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

footer {
  background-color: #353535;
  color: #fff;
}

footer #contenue_footer {
  padding-left: 2rem;
}

footer .fawesomeFooter {
  padding-right: 1rem;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer ul {
  padding-left: 0;
}

footer li {
  padding-bottom: 1rem;
  list-style: none;
}

/* Responsive design */
@media screen and (max-width: 2000px) and (min-width: 905px) {
  .blocMenu #entrees, .blocMenu .plats, .blocMenu .desserts {
    width: 30%;
  }
  .blocMenu .titreBloc {
    width: 100%;
  }
  .blocMenu .btnCommander {
    width: 100%;
  }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 905px) and (min-width: 600px) {
  .blocMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .blocMenu .titreBloc {
    width: 100%;
  }
  .blocMenu #entrees, .blocMenu .plats, .blocMenu .desserts {
    width: 46%;
  }
  .blocMenu .btnCommander {
    width: 100%;
  }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

/* Keyframes */
@-webkit-keyframes loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */