@import "../variables/variables.scss";

.blocMenu{
    background-color: $fondCarteGris ;
    border-radius: 2rem 2rem 0 0;
    position: relative;
    padding:2rem 1rem 1rem 1rem;
    margin-top: -3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .animationsEtPrix{
        .prix{
            margin-right: 1rem;
            position: relative;
            top: 13px;
            font-weight: bold;
        }

        .animation{
            animation: slideOut;
            animation-duration: 1s;
            animation-fill-mode: forwards;
        }
    }

    .titreEntre{
        padding-top: 1rem;
    }

    .carte{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 1rem;
        background-color: $wbg;
        margin-bottom: 1rem;
        overflow: hidden;
        position: relative;
        width: 99%;
        box-shadow: 0.1rem 0.1rem 0.5rem 0 $box-shadow-fonctionement;

            &:hover{
            .animationsEtPrix{

               .animation{
                animation: slidein;
                animation-duration: 1s;
                animation-fill-mode: forwards;
               }
            }

            .fa-check-circle{
                transform: rotate(360deg);
                transition:  900ms  ease-in-out;
            }

            .contenueCarte{
                transition: 600ms ease-in-out;
            }
        }
    }
}

.contenueCarte{
    padding: 1rem 0 1rem 0.2rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

.animationsEtPrix{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
   
    .animation{
        background-color: $color-tertiaire;
        position: relative;
        height: 5rem;
        width: 0;
    }    
        

    .fa-check-circle{
        position: absolute;
        top: 40%;
        left: 40%;
        color: $wbg;
    }
}

@keyframes slidein {
    0% {
      width: 0;
    }
  
    to {
      width: 70px;
      
    }
  }

  @keyframes slideOut {
      from {
          width: 70px;
      }

      to {
          width: 0;
      }
  }