@import "../variables/variables.scss";

.blocMenu{
    background-color: $fondCarteGris ;
    border-radius: 1rem 1rem 0 0;
    position: relative;
    padding: 1rem;
    margin-top: -3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .animationsEtPrix{
        .prix{
            margin-right: 1rem;
            
        }
    }
    #entrees, .plats, .desserts{
        width: 100%;
        transform: translateY(0);
    }
    .titreEntre{
        padding-top: 1rem;
    }

    .carte{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 1rem;
        background-color: #fff;
        margin-bottom: 1rem;
        overflow: hidden;
        position: relative;
        width: 99%;
        

            &:hover{
            .animationsEtPrix{

                .prix{
                    transform: translateX(-70px);
                    transition: 500ms ease-in-out;
                }
               .animation{
                transform: scaleX(1);
               }
            }

            .fa-check-circle{
                transform: rotate(360deg);
                transition:  900ms  ease-in-out;
            }

            .contenueCarte{
                width: 60%;
                transition: 600ms ease-in-out;
            }
        }
    }
}

.contenueCarte{
    padding: 1rem 0 1rem 0.2rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 80%;
    transition: 600ms ease-in-out;
}

.animationsEtPrix{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    transition:  500ms 100ms ease-in-out;

    .prix{
        position: relative;
        left: 70px;
        transform-origin: right;
        transition: 500ms ease-in-out;
        top: 13px;
    }
   
    .animation{
        background-color: #99E2D0;
        position: relative;
        height: 5rem;
        width: 4rem;
        transform-origin: right;
        transform: scaleX(0);
        transition: opacity 100ms, transform 300ms 100ms linear, -webkit-transform 300ms 100ms linear
    }

    .fa-check-circle{
        position: absolute;
        top: 40%;
        left: 40%;
        color: $wbg;
    }
}