$fondCarteGris: #f6f6f6;
$wbg: #fff;
$color-primaire: #9356DC;
$color-secondaire: #FF79DA;
$color-tertiaire: #99E2D0;
$border-color: rgb(245, 244, 244);
$background-localisation: #eaeaea;
$background-fonctionement-hover: #f5edff;
$background-footer: #353535;
$fonctionement-icone:  #4441419d;
$texte-etiquette:  #1caa47;
$box-shadow: #2e2929;
$box-shadow-clair:  #937e7e;
$box-shadow-fonctionement:  rgb(170, 170, 170);
$box-shadow-header:  #777;