@import "../variables/variables.scss";
.btnCommander{
    text-align: center;
    width: 100%;
}

button{
    background: linear-gradient(360deg, $color-primaire, $color-secondaire);
    color: $wbg;
    border-radius: 2rem;
    border: none;
    padding: 1rem 3rem 1rem 3rem;
    font-size: inherit;
    transform: scale(1);
    transition: transform 400ms;
    margin-bottom: 2rem;
    box-shadow: 0px 0px 1px 1px $box-shadow-clair;
    font-family: 'Roboto', serif;
     
    &:hover{
        transform: scale(1.15); 
        opacity: 0.50;
        box-shadow: 0px 0px 1px 2px $box-shadow;
     }
}